In [3]:
!pip install yahoo-finance
!pip install pandas-datareader

Requirement already satisfied: yahoo-finance in c:\users\student\anaconda3\lib\site-packages (1.4.0)
Requirement already satisfied: pytz in c:\users\student\anaconda3\lib\site-packages (from yahoo-finance) (2018.9)
Requirement already satisfied: simplejson in c:\users\student\anaconda3\lib\site-packages (from yahoo-finance) (3.17.0)
Collecting pandas-datareader
  Downloading https://files.pythonhosted.org/packages/14/52/accb990baebe0063977f26e02df36aa7eb4015ed4e86f828cd76273cd6f1/pandas_datareader-0.8.1-py2.py3-none-any.whl (107kB)
Requirement already satisfied: lxml in c:\users\student\anaconda3\lib\site-packages (from pandas-datareader) (4.3.2)
Requirement already satisfied: pandas>=0.21 in c:\users\student\anaconda3\lib\site-packages (from pandas-datareader) (0.24.2)
Requirement already satisfied: requests>=2.3.0 in c:\users\student\anaconda3\lib\site-packages (from pandas-datareader) (2.11.1)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\users\student\anaconda3\lib\site-packages (from pandas>=0.21->pandas-datareader) (2.8.0)
Requirement already satisfied: numpy>=1.12.0 in c:\users\student\anaconda3\lib\site-packages (from pandas>=0.21->pandas-datareader) (1.16.2)
Requirement already satisfied: pytz>=2011k in c:\users\student\anaconda3\lib\site-packages (from pandas>=0.21->pandas-datareader) (2018.9)
Requirement already satisfied: six>=1.5 in c:\users\student\anaconda3\lib\site-packages (from python-dateutil>=2.5.0->pandas>=0.21->pandas-datareader) (1.12.0)
Installing collected packages: pandas-datareader
Successfully installed pandas-datareader-0.8.1

In [38]:
from pandas_datareader import data
df = data.DataReader('005930.KS','yahoo','2015-05-04','2020-02-06')
print(df.head())
print(df.tail())

               High      Low     Open    Close      Volume   Adj Close
Date
2015-05-04  28460.0  27940.0  28140.0  28000.0   8283700.0  271.535034
2015-05-06  27820.0  27120.0  27800.0  27240.0  13270500.0  264.164825
2015-05-07  27500.0  27080.0  27240.0  27400.0  10257400.0  265.716461
2015-05-08  27400.0  26760.0  27320.0  26760.0   9488100.0  259.509918
2015-05-11  27200.0  26720.0  27200.0  26720.0   9640450.0  259.122040
               High      Low     Open    Close      Volume  Adj Close
Date
2020-01-31  58400.0  56400.0  57800.0  56400.0  19749457.0    56400.0
2020-02-03  57400.0  55200.0  55500.0  57200.0  23995260.0    57200.0
2020-02-04  59000.0  56800.0  57100.0  58900.0  21800192.0    58900.0
2020-02-05  60200.0  58900.0  60000.0  59500.0  19278165.0    59500.0
2020-02-06  61100.0  59700.0  60100.0  61100.0  14727159.0    61100.0

In [39]:
df1 = df[['High', 'Low', 'Open', 'Close']]
df1.rename(columns={'High': '고가', 
                          'Low': '저가', 
                          'Open' : '시가', 
                          'Close' : '종가', 
                          }, inplace=True)

C:\Users\student\Anaconda3\lib\site-packages\pandas\core\frame.py:4025: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [40]:
df1.head()

                 고가       저가       시가       종가
Date
2015-05-04  28460.0  27940.0  28140.0  28000.0
2015-05-06  27820.0  27120.0  27800.0  27240.0
2015-05-07  27500.0  27080.0  27240.0  27400.0
2015-05-08  27400.0  26760.0  27320.0  26760.0
2015-05-11  27200.0  26720.0  27200.0  26720.0

In [41]:
df1.to_csv("samsung_1.csv",encoding='cp949', mode='w')

In [16]:
df2 = data.DataReader('005930.KS','yahoo','2020-02-03','2020-02-06')
print(df2.head())

             High    Low   Open  Close    Volume  Adj Close
Date
2020-02-03  57400  55200  55500  57200  23995260      57200
2020-02-04  59000  56800  57100  58900  21800192      58900
2020-02-05  60200  58900  60000  59500  19278165      59500
2020-02-06  61100  59700  60100  61100  14727159      61100
             High    Low   Open  Close    Volume  Adj Close
Date
2020-02-03  57400  55200  55500  57200  23995260      57200
2020-02-04  59000  56800  57100  58900  21800192      58900
2020-02-05  60200  58900  60000  59500  19278165      59500
2020-02-06  61100  59700  60100  61100  14727159      61100

In [29]:
df2 = df2[['High', 'Low', 'Open', 'Close']]
df2.rename(columns={'High': '고가', 
                          'Low': '저가', 
                          'Open' : '시가', 
                          'Close' : '종가', 
                          'Volume' : '거래량'}, inplace=True)

KeyError: "None of [Index(['High', 'Low', 'Open', 'Close', 'Volume'], dtype='object')] are in the [columns]"

In [30]:
df2

               고가     저가     시가     종가       거래량
Date
2020-02-03  57400  55200  55500  57200  23995260
2020-02-04  59000  56800  57100  58900  21800192
2020-02-05  60200  58900  60000  59500  19278165
2020-02-06  61100  59700  60100  61100  14727159

In [38]:
df2.to_csv("samsung_2.csv",encoding='cp949', mode='w')

In [42]:
from pandas_datareader import data
df = data.DataReader('005930.KS','yahoo','2010-02-01','2020-02-06')
print(df.head(10))
print(df.tail(10))

               High      Low     Open    Close      Volume  Adj Close
Date
2010-02-01  15700.0  15300.0  15680.0  15540.0  25037200.0   5.622685
2010-02-02  15800.0  15400.0  15800.0  15440.0  19677150.0   5.586504
2010-02-03  15700.0  15360.0  15640.0  15540.0  16467700.0   5.622685
2010-02-04  15660.0  15440.0  15500.0  15520.0  11971700.0   5.615449
2010-02-05  15220.0  14940.0  15160.0  15000.0  25705750.0   5.427302
2010-02-08  15080.0  14820.0  14940.0  14960.0  21891500.0   5.412830
2010-02-09  15220.0  14840.0  14960.0  15220.0  16834200.0   5.506902
2010-02-10  15280.0  15040.0  15260.0  15100.0  13174200.0   5.463484
2010-02-11  15300.0  15120.0  15140.0  15260.0  13208300.0   5.521376
2010-02-12  15340.0  14900.0  15340.0  15000.0  22879300.0   5.427302
               High      Low     Open    Close      Volume  Adj Close
Date
2020-01-22  62600.0  60400.0  60500.0  62300.0  15339565.0    62300.0
2020-01-23  61800.0  60700.0  61800.0  60800.0  14916555.0    60800.0
2020-01-28  59400.0  58300.0  59400.0  58800.0  23664541.0    58800.0
2020-01-29  59700.0  58800.0  59100.0  59100.0  16446102.0    59100.0
2020-01-30  58800.0  56800.0  58800.0  57200.0  20821939.0    57200.0
2020-01-31  58400.0  56400.0  57800.0  56400.0  19749457.0    56400.0
2020-02-03  57400.0  55200.0  55500.0  57200.0  23995260.0    57200.0
2020-02-04  59000.0  56800.0  57100.0  58900.0  21800192.0    58900.0
2020-02-05  60200.0  58900.0  60000.0  59500.0  19278165.0    59500.0
2020-02-06  61100.0  59700.0  60100.0  61100.0  14727159.0    61100.0

In [44]:
df1 = df[['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close']]
df1.rename(columns={'High': '고가', 
                    'Low': '저가', 
                    'Open' : '시가', 
                    'Close' : '종가', 
                    'Volume' : '거래량',
                    'Adj Close': '수정주가'}, inplace=True)

df1.to_csv("samsung_2.csv",encoding='cp949', mode='w')

In [1]:
pip install -U finance-datareader

Requirement already up-to-date: finance-datareader in c:\users\student\anaconda3\lib\site-packages (0.9.0)
Requirement already satisfied, skipping upgrade: pandas>=0.19.2 in c:\users\student\anaconda3\lib\site-packages (from finance-datareader) (0.24.2)
Requirement already satisfied, skipping upgrade: lxml in c:\users\student\anaconda3\lib\site-packages (from finance-datareader) (4.3.2)
Requirement already satisfied, skipping upgrade: requests>=2.3.0 in c:\users\student\anaconda3\lib\site-packages (from finance-datareader) (2.11.1)
Requirement already satisfied, skipping upgrade: requests-file in c:\users\student\anaconda3\lib\site-packages (from finance-datareader) (1.4.3)
Requirement already satisfied, skipping upgrade: pytz>=2011k in c:\users\student\anaconda3\lib\site-packages (from pandas>=0.19.2->finance-datareader) (2018.9)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.5.0 in c:\users\student\anaconda3\lib\site-packages (from pandas>=0.19.2->finance-datareader) (2.8.0)
Requirement already satisfied, skipping upgrade: numpy>=1.12.0 in c:\users\student\anaconda3\lib\site-packages (from pandas>=0.19.2->finance-datareader) (1.16.2)
Requirement already satisfied, skipping upgrade: six in c:\users\student\anaconda3\lib\site-packages (from requests-file->finance-datareader) (1.12.0)
Note: you may need to restart the kernel to use updated packages.

In [21]:
import FinanceDataReader as fdr

In [15]:
df = fdr.DataReader('KS11', '2010-02-01', '2020-02-06')
df.head()

              Close     Open     High      Low       Volume  Change
Date
2010-02-01  1606.44  1603.87  1611.99  1590.80  382240000.0  0.0025
2010-02-02  1595.81  1618.60  1618.60  1591.24  434960000.0 -0.0066
2010-02-03  1615.02  1614.16  1618.86  1602.55  438150000.0  0.0120
2010-02-04  1616.42  1615.48  1619.37  1607.87  396780000.0  0.0009
2010-02-05  1567.12  1567.59  1575.16  1560.99  460770000.0 -0.0305

In [17]:
df.rename(columns={'High': '고가', 
                    'Low': '저가', 
                    'Open' : '시가', 
                    'Close' : '종가', 
                    'Volume' : '거래량',
                    'Change': '변동'}, inplace=True)

df.to_csv("KOSPI.csv",encoding='cp949', mode='w')

In [25]:
df = fdr.DataReader('USD/KRW', '2010-02-01', '2020-02-06')
df.head()

             Close    Open    High     Low   Volume  Change
Date
2018-11-20  1175.0  1157.0  1208.0  1157.0  11070.0  0.0156
2018-11-21  1170.0  1175.0  1187.0  1165.0   9660.0 -0.0043
2018-11-22  1159.0  1170.0  1170.0  1158.0   4790.0 -0.0094
2018-11-23  1167.0  1159.0  1171.0  1159.0   6640.0  0.0069
2018-11-24  1184.0  1167.0  1184.0  1161.0  11440.0  0.0146

In [19]:
df.rename(columns={'High': '고가', 
                    'Low': '저가', 
                    'Open' : '시가', 
                    'Close' : '종가', 
                    'Volume' : '거래량',
                    'Change': '변동'}, inplace=True)

df.to_csv("exchange_rate.csv",encoding='cp949', mode='w')

In [26]:
# 엔은 못 씀
df = fdr.DataReader('JPY/KRW', '2010-02-01', '2020-02-06')
df.head()

              Close     Open     High      Low  Change
Date
2010-02-01  12.8662  12.9263  13.0411  12.8147  0.0022
2010-02-02  12.8361  12.8642  12.8795  12.7103 -0.0023
2010-02-03  12.6252  12.8236  12.8351  12.5700 -0.0164
2010-02-04  12.8880  12.6165  12.9519  12.6010  0.0208
2010-02-05  13.0940  12.8681  13.1844  12.8076  0.0160

In [27]:
df.rename(columns={'High': '고가', 
                    'Low': '저가', 
                    'Open' : '시가', 
                    'Close' : '종가', 
                    'Change': '변동'}, inplace=True)

df.to_csv("exchange_rate(JPY).csv",encoding='cp949', mode='w')

In [28]:
# 위안도 못 씀....ㅠㅠ
df = fdr.DataReader('CNY/KRW', '2010-02-01', '2020-02-06')
df.head()

             Close    Open    High     Low  Change
Date
2010-02-01  0.5854  0.5876  0.5876  0.5834 -0.0037
2010-02-02  0.5886  0.5854  0.5889  0.5854  0.0055
2010-02-03  0.5944  0.5886  0.5965  0.5882  0.0099
2010-02-04  0.5953  0.5943  0.5957  0.5929  0.0015
2010-02-05  0.5839  0.5955  0.5955  0.5831 -0.0192

In [29]:
df.rename(columns={'High': '고가', 
                    'Low': '저가', 
                    'Open' : '시가', 
                    'Close' : '종가', 
                    'Change': '변동'}, inplace=True)

df.to_csv("exchange_rate(CNY).csv",encoding='cp949', mode='w')

In [33]:
df = fdr.DataReader('HKD/KRW', '2010-02-01', '2020-02-06')
df.head()

              Close    Open     High     Low  Change
Date
2010-02-01  150.160  149.30  151.300  149.17  0.0060
2010-02-02  149.365  150.08  150.215  148.78 -0.0053
2010-02-03  147.895  149.23  149.325  147.29 -0.0098
2010-02-04  147.600  147.81  148.960  147.46 -0.0020
2010-02-05  150.555  147.46  151.595  147.45  0.0200

In [34]:
df.rename(columns={'High': '고가', 
                    'Low': '저가', 
                    'Open' : '시가', 
                    'Close' : '종가', 
                    'Change': '변동'}, inplace=True)

df.to_csv("exchange_rate(HKD).csv",encoding='cp949', mode='w')